.header__logo {
  width: 142px;
  height: 33px;
  margin: 0 0 41px 0;
  padding: 0;
}

@media screen and (max-width:768px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 33px 0 30px 19px;
  }
}
