.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  right: -40px;
  top: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/Close__Icon.svg);
  border: 0;
  background-color: transparent;
  transition: opacity 0.3s ease;
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:650px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: -1px;
  }
}
