.profile {
  /*border:1px solid red;*/
  max-width: 880px;
  margin: 40px auto 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width:930px) {
  .profile {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px;
  }
}
