.footer {
  max-width: 880px;
  width: 100%;
  padding-bottom: 60px;
  margin: 67px auto 0;
}

@media screen and (max-width:930px) {
  .footer {
    max-width: 600px;
  }
}

@media screen and (max-width:650px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}
