.popup__element-container {
  background-color: white;
  width: 430px;
  height: 191px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  /* z-index: 5; */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
}

@media screen and (max-width:650px) {
  .popup__element-container {
    width: 282px;
  }
}
