.profile__info-text {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 294px;
}

@media screen and (max-width:420px) {
  .profile__info-text {
    max-width: 250px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 360px) {
  .profile__info-text {
    margin: 0 0 0 46px;
    max-width: 189px;
    width: 100%;
  }
}
